<h1>Groups#new</h1>

<h1>Add New Groups, Albums, Songs </h1>
<% if current_user.try(:admin?) %>
    <%= form_with(model: @group, local: true) do |f| %>
        <%= f.label :title, "Group Title: "%>
        <%= f.hidden_field :_destroy %>
        <span>
             <%= f.collection_select(:title, Group.all, :id, :title) %>
             
        </span>  if you don't find from the list, create yourself:

        <%= f.text_field :title, value: @group.title unless @group.title == nil %><br>
        <%= f.label :profile, "Group Profile: "%>
        <%= f.text_field :profile, value: @group.profile unless @group.profile == nil %><br><br>
        <%= f.fields_for :albums do |af| %>
            <%= af.label :title, "Album Title: " %>

            <span>
                <%= af.collection_select(:group_id, Album.all, :id, :title) %>
            </span>  if you don't find from the list, create yourself:

            <%= af.text_field :title %><br>
            <%= af.label :release_date, "Release Date: " %>
            <%= af.date_field :release_date %><br>
            <%= af.fields_for :songs do |sf| %>
                <%= sf.label :title, "Song Title: " %>

                 <span>
                    <%= sf.collection_select(:album_id, Song.all, :id, :title) %>
                </span>  if you don't find from the list, create yourself:
            
                <%= sf.text_field :title %><br>
                <%= sf.label :korean_lyrics, "Korean Lyrics: " %>
                <%= sf.text_area :korean_lyrics, size: "60x12"  %><br>
                <%= sf.label :romanja_lyrics, "Romaja Lyrics: " %>
                <%= sf.text_area :romaja_lyrics, size: "60x12"  %><br>
            <% end %>  
        <% end %>   
        <%= f.submit "song create" %>
    <% end %>
<% end %>
